<%inherit file="base.html"/>

<style>
#articleMarkdown {
  height: 16em;
}
</style>

<script>
function submitArticle() {
  $.ajax({
    url: '/create',
    type: 'POST',
    data: {
      'title': $("#articleTitle").val(),
      'markdown': $("#articleMarkdown").val(),
      'author_id': $("#authorCombo").val(),
% if articleId:
      'article_id': ${articleId},
% endif
      'category': $('input[name="categoryRadios"]:checked').val(),
    },
    dataType: 'json',
    success: function(data, textStatus, jqXHR) {
      console.log('success!');
      console.log(data);
      console.log(jqXHR);

      document.location.href = data['redirectUri'];
    },
    failure: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      console.log(textStatus);
      console.log(errorThrown);
    }
  });
}
</script>

    <div class="row">
      <div class="small-12">

        <br/>

        <label>Title</label>
        <input id="articleTitle" type="text" placeholder="(insert title here)" value="${title}"/>
        <label>Contents</label>
        <textarea id="articleMarkdown" placeholder="(insert contents here)">${markdown}</textarea>
      </div>
    </div>

    <div class="row">
      <div class="small-2 columns">
        <label>Author</label>
        <select id="authorCombo">
% for author in authors:
%   if author['id'] == authorId:
          <option value="${author['id']}" selected>${author['name']}</option>
%   else:
          <option value="${author['id']}">${author['name']}</option>
%   endif
% endfor
        </select>
      </div>

      <div class="small-2 columns">
        <label>Category</label>
% for category in categories:
        <label for="categoryRadio${loop.index}"><input name="categoryRadios" type="radio" id="categoryRadio${loop.index}" value="${category}"></input> ${category}</label>
% endfor
      </div>
    </div>


    <div class="row">
      <div class="small-12">
        <a href="javascript:;" class="button" onclick="submitArticle();">Save</a>
        <a href="javascript:;" class="button">Cancel</a>
      </div>
    </div>

      <!-- close of foundation -->

