<%inherit file="base.html"/>
    <style>
p {
  font-family:Garamond, Georgia, serif;
}

.thumbnailBox {
  float: left;
  width: 36px;
  height: 36px;
  border: solid 2px;
  margin: 2px;
}

.thumbnailBox:hover {
  border-color: rgb(0, 133, 255);
}

.thumbnail {
  width: 32px;
  height: 32px;
  margin: 0px;
}

.separator {
  margin: 2px;
}

#thumbnailPool {
  min-height: 200px;
}

#previewImage {
  border: solid 1px gray;
}

#previewUrl {
  font-size: 0.6em;
}

    </style>
    <script>

function setPreviewSrc(url) {
  $('#previewImage').attr('src', url);
  $('#previewUrl').text(url);
  $('#previewUrl').attr('href', url);
}

function addImage(data) {
  var thumbnailBox = document.createElement('div');
  $(thumbnailBox).addClass('thumbnailBox');

  $('#thumbnailPool').append(thumbnailBox);

  var thumbnail = document.createElement('img');
  $(thumbnail).addClass('thumbnail');
  $(thumbnailBox).append(thumbnail)
  thumbnail.src = data['url'];

  $(thumbnailBox).click(function (event) {
    setPreviewSrc(data['url']);
  });


};

function uploadUrl() {
  var url = $('#urlInput').val();

  // validate url here

  $.ajax({
    url: '/image',
    type: 'POST',
    data: {
      'url' : url
    },
    success: function(data, textStatus, jqXHR) {
      addImage(data);
    },
  });  
};
    </script>

    <div class="row">
      <div class="small-12 columns">
% if not loggedIn:
        <h4>What is ImgThumb?</h4>
        <p>ImgThumb is a small tool for bookmarking online images.  </p>

        <h4>How is ImgThumb different from other bookmarking sites?</h4>
        <p>ImgThumb is strictly for bookmarking images and is built around that idea.  </p>

        <h4>How is ImgThumb different from other photo-sharing sites?</h4>
        <p>ImgThumb is designed for personal use.  While it may one day incorporate sharing in some form, it is currently built to be a simple and convenient image bookmarker.  If you're really into sharing photos you find, we have <a href="/recommendations">recommendations</a>.</p>

        <h4>Login now to start bookmarking images! </h4>
        <%include file="login_buttons.html" args="redirect_uri=redirect_uri" />
% else:

        <div>
          <h4>Upload</h4>
          <label>Image URL</label>

          <input id="urlInput" type="text" placeholder="(type image url here)" value="http://thumbs.dreamstime.com/z/victory-runner-14592136.jpg"></input>
          <a href="javascript:uploadUrl();" class="button">Upload</a>
        </div>
      
        <hr class="separator" style="width: 100%;" />

        <h4>Images</h4>
        <div class="row">
          <div class="small-8 columns">
            <div id="thumbnailPool">
% for thumbnail in thumbnails:
              <div class="thumbnailBox">
                <img class="thumbnail" src="/thumbnail?id=${thumbnail['urlSha']}" onclick="setPreviewSrc('${thumbnail['url']}');"/>
              </div>
% endfor
            </div>
          </div>
          <div class="small-4 columns">
            <div id="previewBox">
              <img id="previewImage" />
              <a id="previewUrl" />
            </div>
          </div>
        </div>
      
% endif
      </div>
    </div>


      
    </div>

