<%inherit file="base.html"/>
    <div class="row">
      <div class="small-12 columns">
        <h2>Recommendations</h2>
        <p>Below are a few recommendations or alternatives for managing online images.</p>

        <h4>Photo-Sharing Websites</h4>
        <ul>
          <li><a href="https://www.tumblr.com/">tumblr</a> - not only provides good image hosting, but generally simplified blogging experience</li>
          <li><a href="https://www.pinterest.com/">pinterest</a> - a very popular image sharing site
        </ul>
      </div>
    </div>


      
    </div>

