<%inherit file="base.html"/>
    <div class="row">
      <div class="small-12 columns">
        <h2>Status Report</h2>
      </div>
      <div class="small-12 columns">
        <h5>General</h5>
        <table>
          <tr><td>number of articles:</td><td>${numArticles}</td></tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h5>Articles by Categories</h5>
        <table>
% for category in categories:
          <tr><td>${category}</td><td>${categories[category]}</td></tr>
% endfor
        </table>
      </div>
    </div>




